@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family: 'Poppins';
  color:white;
  
}